.sidebar{
  max-width: 100%;
  max-height: 100%;
  background-color: #f5f5f5;
  z-index: 1;
}
.roadmap {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 90%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.roadmapbody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  text-align: start;
}
.orangediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orangedot {
  width: 10px;
  height: 10px;
  background-color: #ffa500;
  border-radius: 50%;
  margin: 0 5px;
}
.purplediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purpledot {
  width: 10px;
  height: 10px;
  background-color: #800080;
  border-radius: 50%;
  margin: 0 5px;
}
.greendiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.greendot {
  width: 10px;
  height: 10px;
  background-color: #008000;
  border-radius: 50%;
  margin: 0 5px;
}
.amount {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
button {
    background-color: rgb(225, 229, 233);
    border: none;
    color: blue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

